<div class="background">
  <div class="content">
    <h1>
      Let's <br />
      <span>SAVE</span> our <span>PLANET</span> <br />
      together
    </h1>
    <a target="_blank" href="https://we.tl/t-w2qRVcBsGx">
      DOWNLOAD APP <i class="bi bi-android"></i>
    </a>
  </div>
</div>

<div data-aos="fade-up" class="step-intro">
  <h4>
    What can you do? <br /><br />Discover <span>Greenpanion</span> in just 3
    simple steps.
  </h4>
</div>

<div data-aos="fade-up" class="container">
  <div class="card">
    <div class="box">
      <div class="card-content">
        <h6>First Step</h6>
        <p>
          Browse our website, create a user account and enjoy our android
          application for more.
        </p>
        <a href="sign-up">Register</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="card-content">
        <h6>Second Step</h6>
        <p>
          Through the application, accumulate points by recycling paper, plastic
          and metal.
        </p>
        <a target="_blank" href="https://we.tl/t-w2qRVcBsGx">App</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="card-content">
        <h6>Third Step</h6>
        <p>
          Grow fast! Because you will be greatly rewarded as soon as you
          validate your recycling at our centers.
        </p>
        <a href="how-recycle">Map and Prizes</a>
      </div>
    </div>
  </div>
</div>
