<img class="wave" src=".\assets\img\design-Gp2.png" />
<section class="ABOUT">
  <div data-aos="fade-up" class="about-1">
    <h1>Here to help you to understand our process</h1>
    <p>
      As a <span>Greenpanion</span> app user you can contribute to saving the
      planet by going to some of our recycling centers which can be seen on the
      attached map below. Because we want to give people a boost that motivates
      them to much more dedication and ambition, we decided to reward you
      accordingly. This depends on how much and how you recycle, but that's why
      we're here to help!
    </p>
    <h1>How do you proceed ?</h1>

    <ul>
      <li>
        Create an user account on our website or on the
        <a target="_blank" href="https://we.tl/t-w2qRVcBsGx">Android App</a> for
        a total experience you won't regret.
      </li>
      <li>
        Once you have logged in on your phone app, navigate to the section "How
        to recycle?" <i class="bi bi-arrow-right"></i> "Scan Code"
      </li>
      <li>
        All you have to do is put your recycled items into a machine in our
        <a
          href="https://www.google.com/maps/d/embed?mid=1ZtC1wBdCvNVuPM3t0xhzzwtecGCPx9w&ehbc=2E312F"
          target="_blank"
          >recycling centers</a
        >
        and wait for the generation of the QR code that you are going to scan
        with the app.
      </li>
      <li>
        Depending on the amount and recycled material you will receive a certain
        number of points (XP) and you can level up. For every 500XP accumulated
        you advance by one level.
      </li>
      <li>
        The more you advance in the level, the prizes become more and more
        attractive. That's why you don't have to waste your time!
      </li>
    </ul>
  </div>

  <div data-aos="fade-up" id="about-2">
    <div class="content-box-lg">
      <div class="container">
        <h2>What about prizes ?</h2>
        <div
          id="myCarousel"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="0"
              class="active"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="1"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="2"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="3"
            ></button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="8000">
              <div
                class="overlay"
                style="background-image: url(../../../assets/Prize/tent.jpg)"
              ></div>
              <div class="cont">
                <h2>Tent and Hammock</h2>
                <p>
                  A 8 person tent for you and your friends to enjoy the great
                  outdoors. All you have to do is reach level 5 in the app.
                </p>
              </div>
            </div>

            <div class="carousel-item" data-interval="8000">
              <div
                class="overlay"
                style="background-image: url(../../../assets/Prize/bike.jpg)"
              ></div>
              <div class="cont">
                <h2>Bike subscription</h2>
                <p>
                  Free 3 month subscription to Cluj Bike. Stay green by staying
                  out of traffic and get out into the fresh air. All you have to
                  do is reach level 15 in the app.
                </p>
              </div>
            </div>

            <div class="carousel-item" data-interval="8000">
              <div
                class="overlay"
                style="background-image: url(../../../assets/Prize/troti.jpg)"
              ></div>
              <div class="cont">
                <h2>E-Scooter</h2>
                <p>
                  E-scooters ease provide a fun way to hang out with your
                  friends and family. All you have to do is reach level 30 in
                  the app.
                </p>
              </div>
            </div>

            <div class="carousel-item" data-interval="8000">
              <div
                class="overlay"
                style="
                  background-image: url(../../../assets/Prize/wonderland.jpg);
                "
              ></div>
              <div class="cont">
                <h2>Wonderland</h2>
                <p>
                  Who doesn't like a hot hair balloon ride? All you have to do
                  is reach level 50 in the app. Furthermore, prizes after level
                  50 will be unvelled at a later date.
                </p>
              </div>
            </div>
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="prev"
          >
            <span class="sr-only"></span>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>

          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="next"
          >
            <span class="sr-only"></span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>

        <div data-aos="fade-up" class="row">
          <h2>Did you know ?</h2>
          <div class="col-md-4">
            <div class="about-item text-center">
              <img src="../../../assets/img/logo-plastic.png" />
              <h3>PLASTIC</h3>
              <hr />
              <p>
                It is a two-stage process: Sorting is mainly done automatically
                with a manual sort to ensure all contaminants have been removed.
                Once sorted and cleaned, plastic can either be shredded into
                flakes or melt processed to form pellets before finally being
                moulded indeed into new products.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="about-item text-center">
              <img src="../../../assets/img/logo-paper.png" />
              <h3>PAPER</h3>
              <hr />
              <p>
                Additionally, 76 percent of paper mills used some recovered
                paper in 2011, so the paper you throw into the bin is finding
                its way into plenty of new products. The process of recycling
                old paper into new paper might sound like it would be complex,
                but in reality, it’s pretty straightforward.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="about-item text-center">
              <img src="../../../assets/img/logo-metal.png" />
              <h3>METAL</h3>
              <hr />
              <p>
                Metal recycling is simply the process of taking waste metal,
                processing it and creating new metal material. Metal can be used
                to make products which can be recycled once used or not needed.
                There are many advantages to recycling metal, including
                environmental benefits: energy savings.
              </p>
            </div>
          </div>
        </div>

        <div data-aos="fade-up" class="map">
          <h2>Map of our recycling centers</h2>
          <div id="TSMap"></div>
        </div>
      </div>
    </div>
  </div>
</section>
