<img class="wave" src="../assets/img/design-Gp.png" />
<div class="stats">
  <div class="container">
    <div class="intro">
      <p>Let's count our progress!</p>
      <p>Congratulations, you did a great job!</p>
    </div>

    <div class="stats-inner">
      <div class="cards">
        <h1>{{ level }}</h1>
        <p>Level</p>
      </div>

      <div class="cards">
        <h1>{{ userXp }}</h1>
        <p class="this">XP</p>
      </div>

      <div class="cards">
        <h1>{{ metal }}</h1>
        <p>Metal</p>
      </div>

      <div class="cards">
        <h1>{{ paper }}</h1>
        <p>Paper</p>
      </div>

      <div class="cards">
        <h1>{{ plastic }}</h1>
        <p>Plastic</p>
      </div>

      <div class="cards" id="divChart">
        <canvas class="chart" id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>
